# ╭──────────────────────────────────────────────────────────╮
# │ GIT                                                      │
# ╰──────────────────────────────────────────────────────────╯

alias gac='git add . && git commit -m'
alias gb="git branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate"
alias gbd='git branch -D'
alias gbD='git push origin --delete'
alias gcam='git add . && git commit --amend'
alias gcod='git checkout dev'
alias gcof='git checkout --'
alias gcom='git checkout $(git_main_branch)'
alias gd='git diff'
alias gD="git diff -- . ':!package-lock.json'"
alias gdn='git diff --name-only'
alias gdt='git diff-tree --no-commit-id --name-status -r'
alias gfp='git fetch --all --prune && git pull --rebase origin $(git_current_branch)'
alias gfu='git fetch upstream'
alias glc='git log -1 HEAD --stat'
alias glo="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias glp='git log --patch'
alias glst='git log --stat -p'
alias gpp='git pull --rebase origin $(git_current_branch) && git push origin $(git_current_branch)'
alias gpup='git pull upstream $(git_main_branch)'
alias gpum='git pull upstream master'
alias grup='git rebase upstream/$(git_main_branch)'
alias grum='git rebase upstream/master'
alias gs="git show -- . ':!package-lock.json'"
alias gst='git stash'
alias gsta='git stash apply'
alias gstc='git stash clear'
alias gstl='git stash list'
alias gstp='git stash pop'
alias gsts='git stash save'

alias lg='lazygit'

# ╭──────────────────────────────────────────────────────────╮
# │ SHELL                                                    │
# ╰──────────────────────────────────────────────────────────╯

alias ag='ag --path-to-ignore ~/.ignore'
alias bg='batgrep'
alias ls='colorls -lA --sd'
alias man='batman'
alias rg="rg -g '!{**/node_modules/**, node_modules/**, node_modules}' -g '!package-lock.json'"

alias n='nvim'
alias na='nvim ~/.aliases'
alias nb='nvim ~/.bash_profile'
alias ng='nvim ~/.gitconfig'
alias nn='nvim ~/.nanorc'
alias np='nvim ~/.p10k.zsh'
alias ns='nvim ~/.spaceship'
alias nz='nvim ~/.zshrc'

alias tree='tree -d --gitignore -C -L 2'

# ╭──────────────────────────────────────────────────────────╮
# │ CONFIG                                                   │
# ╰──────────────────────────────────────────────────────────╯

alias brave='CHROME_BUNDLE_IDENTIFIER="com.brave.Browser" chrome-cli'
alias chrome='chrome-cli'
alias cors='open -n -a /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --args --user-data-dir="/tmp/chrome_dev_test" --disable-web-security'
alias myip='curl http://ipecho.net/plain; echo'

# ╭──────────────────────────────────────────────────────────╮
# │ SYSTEM                                                   │
# ╰──────────────────────────────────────────────────────────╯

alias et='rimraf ~/.Trash/*'
alias rs='sudo shutdown -r now'
alias sd='sudo shutdown -h now'
