[user]
	name = Lush Sleutsky
	email = lushsleutsky@gmail.com
	username = LSleutsky
[core]
	editor = nvim
[diff]
  guitool = nvimdiff
	tool = nvimdiff 
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
  prompt = true
[merge]
  tool = nvimdiff
[mergetool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
  prompt = true
[checkout]
	defaultRemote = origin
[commit]
	verbose = true
[fetch]
	prune = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[web]
	google-chrome
