[user]
	name = Lush Sleutsky
	email = lushsleutsky@gmail.com
	username = LSleutsky
[core]
	editor = code --wait
[diff]
  guitool = vscode
	tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[checkout]
	defaultRemote = origin
[commit]
	verbose = true
[fetch]
	prune = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[web]
	google-chrome
