/** ********** Fonts ********** **/
* {
  font-family: "Mononoki Nerd Font", "JetBrains Mono Nerd Font", archcraft, sans-serif;
  font-size: 12px;
}

/** ********** Waybar Window ********** **/
window#waybar {
  background-color: #1B1F28;
  color: #1B1F28;
  border-bottom: 2px solid #2F333C;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty #window {
	background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.5;
}

/** ********** Modules ********** **/
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/** ********** Workspaces ********** **/
#workspaces {
	background-color: #2F333C;
	color: #FFFFFF;
	border-radius: 0px 8px 0px 0px;
	padding: 4px;
}

#workspaces button {
	color: #FFFFFF;
  border-radius: 8px;
	padding: 2px 10px 2px 6px;
}

#workspaces button:hover {
	background-color: #1B1F28;
	color: #1B1F28;
	border: 0px solid #1B1F28;
  border-radius: 8px;
	padding: 2px 10px 2px 6px;
}

#workspaces button.visible {
	background-image: linear-gradient(to right, #62AEEF, #98C379);
}

#workspaces button.focused {
	background-image: linear-gradient(to right, #E06B74, #C778DD);
}

#workspaces button.urgent {
	background-image: linear-gradient(to right, #E06B74, #E5C07A);
}

#workspaces button.persistent {
	background-image: linear-gradient(to right, #E5C07A, #C778DD);
}

#workspaces button.visible,
#workspaces button.focused,
#workspaces button.urgent,
#workspaces button.persistent {
	color: #1B1F28;
  border-radius: 8px;
	padding: 2px 9px 2px 6px;
}

/** ********** MPD ********** **/
#mpd {
	background-color: #2A2E37;
	color: #FFFFFF;
}

#mpd.disconnected {
	background-color: #E06B74;
	color: #FFFFFF;
}

#mpd.stopped {
	background-image: linear-gradient(to right, #E06B74, #E5C07A);
	color: #1B1F28;
}

#mpd.playing {
	background-image: linear-gradient(to right, #62AEEF, #C778DD);
	color: #1B1F28;
}

/** ********** Spotify ********** **/
#custom-spotify.playing {
  background-image: linear-gradient(to right, #1DB954, #2AAA8A);
  font-weight: 900;
}

/** ********** Idle Inhibitor ********** **/
#idle_inhibitor {
  background-image: linear-gradient(to right, #FFFDD0, #DAA520);
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 15px 2px 10px;
}

#idle_inhibitor.deactivated {
	background-image: linear-gradient(to right, #989898, #505050);
}

/** ********** Pulse Audio ********** **/
#pulseaudio {
  background-image: linear-gradient(to right, #89CFF0, #1434A4);
}

#pulseaudio.bluetooth {
  background-image: linear-gradient(to right, #0096FF, #00008B);
}

#pulseaudio.muted {
	background-image: linear-gradient(to right, #E5C07A, #E06B74);
}

/** ********** Backlight ********** **/
#backlight {
  background-image: linear-gradient(to right, #98FB98, #AAFF00);
}

/** ********** Memory ********** **/
#memory {
	background-image: linear-gradient(to right, #66B2B2, #008080);
}

/** ********** CPU ********** **/
#cpu {
	background-image: linear-gradient(to right, #E8FFFF, #485F77);
}

/** ********** Temperature ********** **/
#temperature {
  background-image: linear-gradient(to right, #FFAC1C, #CC5500);
}

/** ********** Network ********** **/
#network {
	background-image: linear-gradient(to right, #DA70D6, #702963);
}

#network.disconnected {
  background-image: linear-gradient(to right, #FA8072, #E0115F);
}

#network.disabled {
	background-image: linear-gradient(to right, #FAA0A0, #E35335);
	color: #FFFFFF;
}

/** ********** Battery ********** **/
@keyframes blink {
  to {
      color: #000000;
  }
}

#battery {
	background-image: linear-gradient(to right, #967969, #5C4033);
}

#battery.critical:not(.charging) {
	background-color: #E35335;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
	background-image: linear-gradient(to right, #FA8072, #FF0000);
}

/** ********** Tray ********** **/
#tray {
	background-color: #2F333C;
	border-radius: 8px 0px 0px 0px;
	padding: 4px 6px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/** ********** Common Styles ********** **/
#mpd,
#custom-spotify,
#pulseaudio,
#backlight, 
#memory,
#cpu,
#temperature,
#network,
#battery,
#clock {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 10px;
  font-weight: 900;
  color: #191414;
}
