/** ********** Fonts ********** **/
* {
  font-family: "Mononoki Nerd Font", "JetBrains Mono Nerd Font", archcraft, sans-serif;
  font-size: 14px;
  font-weight: 900;
}

/** ********** Window / Modules ********** **/
#window {
  border: 1px solid rgb(248, 248, 242);
  color: rgb(248, 248, 242);
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty #window {
	background-color: transparent;
}

window#waybar.empty #window {
  border: none;
}

window#waybar.hidden {
  opacity: 0.5;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/** ********** Workspaces ********** **/
#workspaces {
  background-color: transparent;
  padding-left: 12px;
  margin-right: 10px;
}

#workspaces button {
  border: 0;
  border-radius: 0;
	color: rgb(248, 248, 242);
	margin-right: 3px;
	padding: 2px 7px 1px 9px;
}

#workspaces button:hover {
  background: none;
  box-shadow: none;
  border-top: 3px solid rgb(189, 147, 249);
	padding: 2px 7px 4px 9px;
}

#workspaces button.focused {
  background-color: transparent;
  border-top: 3px solid rgb(189, 147, 249);
}

#workspaces button.visible,
#workspaces button.focused,
#workspaces button.urgent,
#workspaces button.persistent {
	padding: 0 7px 2px 9px;
}

#workspaces button:first-child {
	padding: 3px 6px 0 9px;
}

#workspaces button:first-child:hover {
  border-top: 3px solid rgb(189, 147, 249);
  margin-bottom: 2px;
}

#workspaces button.focused:first-child {
	border-top: 3px solid rgb(189, 147, 249);
  margin-bottom: 2px;
}

/** ********** MPD ********** **/
#mpd {
	background-color: rgb(40, 42, 54);
	color: rgb(248, 248, 242);
	border: 1px solid rgb(248, 248, 242);
}

#mpd.disconnected {
	color: rgb(68, 71, 90);
	border: 1px solid rgb(68, 71, 90);
}

#mpd.stopped {
  color: rgb(248, 248, 242);
  border: 1px solid rgb(248, 248, 242);
}

#mpd.playing {
  color: rgb(139, 233, 253);
  border: 1px solid rgb(139, 233, 253);
}

/** ********** Spotify ********** **/
#custom-spotify {
  background-image: linear-gradient(to right, rgb(29, 185, 84), rgb(42, 170, 138));
  border: 1px solid rgb(29, 185, 84);
  border-radius: 35px;
  color: rgb(40, 42, 54);
  font-weight: 900;
  margin: 6px 8px 6px 12px;
	padding: 2px 15px;
}

#custom-spotify.paused {
  padding: 2px 15px 2px 11px;
}

/** ********** Idle Inhibitor ********** **/
#idle_inhibitor {
	background-color: rgb(40, 42, 54);
  color: rgb(241, 250, 140);
  border: 1px solid rgb(241, 250, 140);
	border-radius: 35px;
	margin: 6px 0;
	padding: 2px 15px 2px 10px;
}

#idle_inhibitor.deactivated {
	color: rgb(68, 71, 90);
	border: 1px solid rgb(68, 71, 90);
	padding: 2px 5px 2px 12px;
}

/** ********** Pulse Audio ********** **/
#pulseaudio {
  color: rgb(255, 184, 108);
  border: 1px solid rgb(255, 184, 108);
}

#pulseaudio.bluetooth {
  color: rgb(0, 130, 252);
  border: 1px solid rgb(0, 130, 252);
}

#pulseaudio.muted {
	color: rgb(68, 71, 90);
	border: 1px solid rgb(68, 71, 90);
}

/** ********** Backlight ********** **/
#backlight {
	border: 1px solid rgb(255, 85, 85);
	color: rgb(255, 85, 85);
}

/** ********** Temperature ********** **/
#temperature {
  color: rgb(255, 121, 198);
  border: 1px solid rgb(255, 121, 198);
}

/** ********** Disk & Memory ********** **/
#disk,
#memory {
  color: rgb(255, 121, 198);
  border: 1px solid rgb(255, 121, 198);
}

/** ********** Network ********** **/
#network {
	color: rgb(189, 147, 249);
	border: 1px solid rgb(189, 147, 249);
}

#network.disconnected {
	color: rgb(68, 71, 90);
	border: 1px solid rgb(68, 71, 90);
}

#network.disabled {
	color: rgb(68, 71, 90);
	border: 1px solid rgb(68, 71, 90);
}

/** ********** Battery ********** **/
@keyframes blink {
  to {
    color: rgb(139, 233, 253);
  }
}

#battery {
  color: rgb(139, 233, 253);
  border: 1px solid rgb(139, 233, 253);
}

#battery.critical:not(.charging) {
	color: rgb(255, 85, 85);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
	color: rgb(80, 250, 123);
	border: 1px solid rgb(80, 250, 123);
}

/** ********** Logout ********** **/
#custom-wlogout {
	color: rgb(98, 114, 164);
	margin: 0 5px 3px 5px;
	font-size: 16px;
}

/** ********** Tray ********** **/
#tray {
  background-color: rgb(25, 25, 25);
  border-bottom: 1px solid rgb(40, 42, 54);
	padding: 0px 6px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/** ********** Common Styles ********** **/
#mpd,
#window,
#pulseaudio,
#backlight, 
#disk,
#memory,
#cpu,
#temperature,
#network,
#battery,
#clock {
	background-color: rgb(40, 42, 54);
	border-radius: 35px;
	margin: 6px 0;
	padding: 2px 10px;
}

#clock {
  margin-right: 15px;
}
