/** ********** Fonts ********** **/
* {
  font-family: "Mononoki Nerd Font", "JetBrains Mono Nerd Font", archcraft, sans-serif;
  font-size: 12px;
  font-weight: 900;
}

/** ********** Waybar Window ********** **/
window#waybar {
  background-color: transparent;
  /* background-color: rgb(40, 42, 54); */
  border-bottom: 2px solid #2F333C;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty #window {
	background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.5;
}

/** ********** Modules ********** **/
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/** ********** Workspaces ********** **/
#workspaces {
	color: #FFFFFF;
  background-color: #282a36;
  border-bottom: 2px solid #2F333C;
	border-radius: 0 4px 0 0;
	padding: 4px;
}

#workspaces button {
	color: #FFFFFF;
  border-radius: 8px;
	padding: 2px 10px 2px 6px;
}

#workspaces button:hover {
  color: #191414;
	background-color: #1B1F28;
	border: solid #1B1F28;
  border-radius: 8px;
	padding: 2px 10px 2px 6px;
}

#workspaces button.visible {
	background-image: linear-gradient(to right, #62AEEF, #98C379);
}

#workspaces button.focused {
	background-image: linear-gradient(to right, #E06B74, #C778DD);
}

#workspaces button.urgent {
	background-image: linear-gradient(to right, #E06B74, #E5C07A);
}

#workspaces button.persistent {
	background-image: linear-gradient(to right, #E5C07A, #C778DD);
}

#workspaces button.visible,
#workspaces button.focused,
#workspaces button.urgent,
#workspaces button.persistent {
	color: #282a36;
  border-radius: 8px;
	padding: 2px 9px 2px 6px;
}

/** ********** MPD ********** **/
#mpd {
	background-color: #2A2E37;
	color: #f8f8f2;
}

#mpd.disconnected {
	background-color: #2A2E37;
	color: #f8f8f2;
}

#mpd.stopped {
	background-image: linear-gradient(to right, #E06B74, #E5C07A);
  color: #282a36;
}

#mpd.playing {
	background-image: linear-gradient(to right, #62AEEF, #C778DD);
  color: #282a36;
}

/** ********** Spotify ********** **/
#custom-spotify.playing {
  background-image: linear-gradient(to right, #1db954, #2aaa8a);
  font-weight: 900;
  color: #282a36;
}

/** ********** Idle Inhibitor ********** **/
#idle_inhibitor {
	background-image: linear-gradient(to right, rgba(98, 114, 164, 0.75), rgb(98, 114, 164));
	border-radius: 4px;
  color: #282a36;
	margin: 6px 0;
	padding: 2px 17px 2px 12px;
}

#idle_inhibitor.deactivated {
	background-image: linear-gradient(to right, rgba(68, 71, 90, 0.75), rgb(68, 71, 90));
  color: #f8f8f2;
}

/** ********** Pulse Audio ********** **/
#pulseaudio {
	background-image: linear-gradient(to right, rgba(139, 233, 253, 0.65), rgb(139, 233, 253));
  color: #282a36;
}

#pulseaudio.bluetooth {
	background-image: linear-gradient(to right, rgba(139, 233, 253, 0.5), rgb(139, 233, 253));
  color: #282a36;
}

#pulseaudio.muted {
	background-image: linear-gradient(to right, #E5C07A, #E06B74);
  color: #282a36;
}

/** ********** Backlight ********** **/
#backlight {
	background-image: linear-gradient(to right, rgba(80, 250, 123, 0.75), rgb(80, 250, 123));
  color: #282a36;
}

/** ********** Temperature ********** **/
#temperature {
	background-image: linear-gradient(to right, rgba(255, 184, 108, 0.65), rgb(255, 184, 108));
  color: #282a36;
}

/** ********** Memory ********** **/
#memory {
	background-image: linear-gradient(to right, rgba(255, 121, 198, 0.6), rgb(255, 121, 198));
  color: #282a36;
}

/** ********** Network ********** **/
#network {
	background-image: linear-gradient(to right, rgba(189, 147, 249, 0.4), rgb(189, 147, 249));
  color: #282a36;
}

#network.disconnected {
	background-image: linear-gradient(to right, rgba(68, 71, 90, 0.7), rgb(68, 71, 90));
	color: #f8f8f2;
}

#network.disabled {
	background-image: linear-gradient(to right, rgba(40, 42, 54, .8), rgb(40, 42, 54));
	color: #f8f8f2;
}

/** ********** Battery ********** **/
@keyframes blink {
  to {
    color: #000000;
  }
}

#battery {
	background-image: linear-gradient(to right, rgba(255, 85, 85, 0.5), rgb(255, 85, 85));
}

#battery.critical:not(.charging) {
	background-color: #E35335;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
	background-image: linear-gradient(to right, rgba(241, 250, 140, 0.55), rgb(241, 250, 140));
}

/** ********** Tray ********** **/
#tray {
	background-color: #2F333C;
	border-radius: 4px 0 0 0;
	padding: 0px 6px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/** ********** Common Styles ********** **/
#mpd,
#custom-spotify,
#pulseaudio,
#backlight, 
#memory,
#cpu,
#temperature,
#network,
#battery,
#clock {
	border-radius: 4px;
	margin: 6px 0;
	padding: 2px 10px;
  text-shadow: 0 0 1px #222222;
}
