spawn-at-startup "waybar"
spawn-at-startup "dms" "ipc" "call" "wallpaper" "set" "/home/lush/.local/share/dotfiles/wallpapers/future-space-office.png"

include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/windowrules.kdl"
include "dms/wpblur.kdl"

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        natural-scroll
        dwt
    }

    mouse {
        natural-scroll
    }
}

layout {
    gaps 16
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    
    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

animations {
    // slowdown 3.0
}

switch-events {
    lid-close {
        spawn "systemctl" "suspend";
    }
}
