* {
  font-family: ComicShannsMono Nerd Font, JetBrainsMono Nerd Font;
}

window#waybar {
  background: transparent;
}

window > box {
  margin: 7px 16px 0;
  padding: 5px 0 3px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#temperature,
#cpu,
#memory,
#custom-pacman,
#custom-weather,
#tray,
#taskbar,
#custom-spotify,
#mpd,
#cava,
#workspaces,
#bluetooth,
#battery,
#clock,
#idle_inhibitor {
  padding: 0 10px;
  font-size: 20px;
}

#temperature {
  padding-left: 13px;
  color: #fab387;
  background: #11111b;
  border-top: 4px solid #313244;
  border-bottom: 4px solid #313244;
  border-left: 4px solid #313244;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#temperature.critical {
  color: #f38ba8;
}

#cpu {
  color: #b4befe;
  border-top: 4px solid #313244;
  border-bottom: 4px solid #313244;
}

#memory {
  margin-right: 11px;
  padding-left: 14px;
  color: #eba0ac;
  background: #11111b;
  border-top: 4px solid #313244;
  border-right: 4px solid #313244;
  border-bottom: 4px solid #313244;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#custom-pacman {
  margin-right: 11px;
  padding: 4px 11px 4px 13px;
  color: #cba6f7;
  background: #11111b;
  border: 4px solid #313244;
  border-radius: 12px;
}

#custom-weather {
  margin-right: 11px;
  padding-right: 11px;
  color: #cdd6f4;
  font-family: ComicShannsMono Nerd Font;
  background: #11111b;
  border: 4px solid #313244;
  border-radius: 12px;
}

#tray {
  margin-right: 11px;
  padding: 0 8px;
  background: #11111b;
  border: 4px solid #313244;
  border-radius: 12px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  background-color: #f38ba8;
  -gtk-icon-effect: highlight;
}

#custom-spotify {
  margin-right: 11px;
  padding: 4px 17px 4px 12px;
  font-size: 23px;
  color: #a6e3a1;
  background: #11111b;
  border: 4px solid #313244;
  border-radius: 10px;
}

#custom-spotify.playing {
  padding: 4px 12px 4px 14px;
}

#mpd {
  margin-right: 11px;
  padding: 4px 12px;
  background: #11111b;
  border: 4px solid #313244;
  border-radius: 12px;
}

#mpd.playing {
  padding: 4px 12px;
  color: #89b4fa;
}

#mpd.paused {
  color: #9399b2;
}

.modules-left > widget:last-child > #custom-spotify {
  padding-right: 20px;
}

#workspaces {
  border: 4px solid #313244;
  border-radius: 12px;
}

#workspaces button {
  transition: all .5s cubic-bezier(.55, -.68, .48, 1.68);
  color: #89b4fa;
  border: 0;
}

#workspaces button:hover {
  border: 0;
  background: transparent;
  box-shadow: none;
}

#workspaces button.active {
  transition: all .5s cubic-bezier(.55, -.68, .48, 1.68);
  color: #f9e2af;
}

#workspaces button.active:not(:first-child) {
  padding-right: 10.5px;
}

#workspaces button.active:last-child {
  padding-left: 7px;
}

#bluetooth {
  padding-left: 12px;
  color: #45475a;
  background: #11111b;
  border-top: 4px solid #313244;
  border-left: 4px solid #313244;
  border-bottom: 4px solid #313244;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#bluetooth.on,
#bluetooth.connected {
  color: #89b4fa;
}

#network {
  margin-right: 11px;
  padding-right: 23px;
  padding-left: 2px;
  color: #fab387;
  background: #11111b;
  border-top: 4px solid #313244;
  border-right: 4px solid #313244;
  border-bottom: 4px solid #313244;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#network.disconnected {
  color: #f38ba8;
}

#backlight {
  margin-right: 11px;
  padding: 4px 18px 4px 16px;
  color: #cba6f7;
  background: #11111b;
  border: 4px solid #313244;
  border-radius: 12px;
}

#pulseaudio {
  padding: 4px 0px 4px 16px;
  color: #89b4fa;
  background: #11111b;
  border-top: 4px solid #313244;
  border-bottom: 4px solid #313244;
  border-left: 4px solid #313244;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#pulseaudio.muted:not(.microphone) {
  padding-left: 14px;
  color: #f38ba8;
}

#pulseaudio.microphone {
  margin-right: 11px;
  padding-right: 15px;
  border-top: 4px solid #313244;
  border-right: 4px solid #313244;
  border-bottom: 4px solid #313244;
  border-left: 0;
  border-top-right-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 0;
}

#pulseaudio.source-muted:not(.volume) {
  padding-right: 18px;
  padding-left: 12px;
  color: #f38ba8;
}

#battery {
  margin-right: 11px;
  padding: 4px 15px 4px 16px;
  color: #a6e3a1;
  font-size: 20px;
  background: #11111b;
  border: 4px solid #313244;
  border-radius: 12px;
}

#battery.full {
  padding-right: 13px;
}

#battery.full,
#battery.discharging {
  color: #a6e3a1;
}

#battery.charging:not(.full) {
  padding-right: 15px;
  color: #a6e3a1;
}

#battery.critical:not(.charging) {
  color: #f38ba8;
}

#clock {
  margin-right: 10px;
  padding: 4px 14px;
  color: #f5c2e7;
  font-size: 21px;
  font-weight: bold;
  background: #11111b;
  border: 4px solid #313244;
  border-radius: 12px;
}

#idle_inhibitor {
  padding: 4px 4px 4px 16px;
  color: #6c7086;
  font-size: 22px;
  background: #11111b;
  border: 4px solid #313244;
  border-radius: 12px;
}

#idle_inhibitor.activated {
  padding: 7px 10px 7px 12px;
  color: #f9e2af;
}

tooltip {
  padding: 15px;
  border-radius: 15px;
  background-color: #11111b;
  font-family: ComicShannsMono Nerd Font;
  font-size: 18px;
}

tooltip label {
  padding: 5px;
  font-family: ComicShannsMono Nerd Font;
}

label:focus {
  background-color: #11111b;
}
